body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100vh;
    padding: 20px;
    
}

#header {
    width: 100%;
    background-color: #047857;
    border-radius: 12px 12px 0px 0px;
    color: white;
    padding: 10px;
    text-align: center;
    border: none;
}

#history {
    width: 100%;
    border: 1px solid black;
}

#measurements {
    width: 100%;
}

.convert-btn{
    
    background-color: #fee6e3;
    border: 2px solid #111;
}


input{
    margin: 10px 5px;
}

.accordion {
    background-color: #F0F9FF;
    color: #444;
    cursor: pointer;
    padding: 18px 0px;
    width: 100%;
    min-width: unset;
    text-align: center;
    outline: none;
    border: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #059669;
}

.panel {
    padding: 0 18px;
    background-color: white;
    width: calc(100% - 36px); 
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
    padding-right: 10px;
}

.active:after {
    content: "\2796"; /
}

ul{
    list-style-type: none;
    padding: 0;
}

#clear-btn {
    display: block;
    justify-self: center;
    margin: 10px auto;
    padding: 8px 16px;
    background-color: #ef4444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#clear-btn:hover {
    background-color: #dc2626;
}